.tabs-nav {
    display: flex;
    list-style: none;
}
.tabs-nav li {
    padding: 0px 20px;
}
.tabs-nav li.active{
    font-weight: bold;
}
.tabs-nav li.active a {
    color: red;
}

.tabs-content {
    border: 1px solid #ccc;
    min-height: 200px;
}